@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    font-family:'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
}

html{
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
.nav{
    padding: 8px 12px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategrey;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list li{
    padding: 0 16px;
}

.nav-header{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-size: 30px;
}

.nav-header a{
    text-decoration: none;
    color: black;
}

.nav-list a{
    text-decoration: none;
    font-family: "Gelasio", serif;
    font-size: 20px;
    color: black;
    transition: 0.1s;
}

/* About */
.about{
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.image{
    width: 300px;
    text-align: center;
}

.image img{
    width: 300px;
    height: 300px;
}

.about > p{
    margin-left: 20px;
    width: 550px;
    font-size: 22px;
    text-align:justify;
}

/* Filters */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
    font-size: 20px;
}

/* Dropdown */

.dropdown{
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

.dropdown-list{
    display: none;
    position: absolute;
    width: 180px;
    background-color: lightgray;
    border-radius: 2px;
}

.dropdown:hover .dropdown-list{
    display: block;
}

.dropdown-btn{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    background-color: #97aabd;
}

.dropdown-list .select{
    display: block;
}

.dropdown-list .select:hover{
    background-color: #adc3d9;
}

.dropdown-list .select-label{
    padding: 6px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.select-label span{
    padding-left: 6px;
}

/* Sorting */
.sorting{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.date-asc, .date-desc{
    display: flex;
    height: 30px;
    align-items: center;
}

.date-asc label, .date-desc label{
    padding-right: 10px;
}

/* Searchbar */
.searchbar{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.searchbar input{
    padding-left: 5px;
    display: flex;
    width: 600px;
    height: 30px;
    font-size: 18px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px 0 0 2px;
}

.searchbar input:focus{
    outline: none;
    box-shadow: none;
}

.searchbar button{
    height: 30px;
    width: 80px;
    font-size: 18px;
    background-color: #97aabd;
    color: black;
    text-align: center;
    border: none;
    border-radius: 0 2px 2px 0;
    transition: 0.1s;
    cursor: pointer;
}

.searchbar button:active{
    box-shadow: 3px 3px 3px 0 rgba(112, 128, 144, 0.4);
}

.no-result{
    margin-top: 6px;
    width: 100%;
    max-width: 680px;
    font-size: 20px;
    width: 80%;
    white-space: nowrap;
}

.no-result span{
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Posts */
.posts{
    margin: 20px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.post{
    border-radius: 8px ;
    margin: 20px 0;
    padding: 30px;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    transition: 0.1s;
}

.post img{
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
}

.post-description{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.post-description h3{
    font-family: "Oswald", "serif";
    font-weight: 600;
    font-size: 28px;
}

.post-description p{
    font-size: 22px;
}

.post-info{
    margin: 0;
    padding: 0;
    margin-top: auto;
    font-size: 18px;
}

.post-info td:first-child{
    width: 90px;
    font-style: italic;
}

.post-info td:last-child{
    font-weight: 600;
}

#read{
    margin-top: auto;
    display: flex;
    justify-content: right;
}

#read a{
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;
}

/* Footer */
.footer{
    padding: 16px;
    display: flex;
    background-color: slategrey;
}

.contact-header{
    padding: 0;
    margin: 0;
    font-family: "Gelasio", serif;
    font-size: 20px;
    font-weight: 900;
}

.contacts li a{
    font-style: italic;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.contacts li{
    list-style-type: none;
    font-size: 20px;
    padding: 4px 0;
}

.email{
    font-style: italic;
}

/* Hover effects */
.nav-list a:hover{
    color:white;
}

.post:hover{
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

#read a:hover{
    color: blue;
}

.searchbar button:hover{
    background-color: slategray;
}