@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

.page{
    display: flex;
    flex-direction: column;
}

main{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family:'Times New Roman', Times, serif;
}

/* Navigation bar */
.nav{
    padding: 6px;
    top: 0;
    height: 36px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategrey;
    z-index: 2;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.6);
}

.nav-header a{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list a{
    margin: 0 16px;
    text-decoration: none;
    font-family: "Gelasio", serif;
    font-size: 20px;
    color: black;
    transition: 0.1s;
}

/* About */
.about{
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image img{
    width: 300px;
    height: 300px;
}

.about > p{
    padding-left: 20px;
    width: 500px;
    font-size: 22px;
    text-align:justify;
}

/* Filters */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    font-size: 20px;
    gap: 20px;
}

/* Dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-list{
    display: none;
    position: absolute;
    width: 180px;
    background-color: lightgray;
    border-radius: 2px;
    z-index: 1;
}

.dropdown-btn{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    color: black;
    background-color: #97aabd;
    text-align: center;
    cursor: pointer;
}

.dropdown-list .select-label{
    padding: 6px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.select-label span{
    padding-left: 6px;
}

/* Sorting */
.sorting{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.date-asc, .date-desc{
    display: flex;
    height: 30px;
    align-items: center;
}

.date-asc label, .date-desc label{
    padding-right: 10px;
}

/* Searchbar */
.searchbar{
    margin-top: 20px;
    max-width: 80%;
    display: flex;
    justify-content: center;
}

.searchbar input{
    padding-left: 5px;
    display: flex;
    width: 600px;
    font-size: 18px;
    background-color: #ededed;
    outline: none;
    border: none;
    border-radius: 4px;
}

.searchbar input:focus{
    outline: none;
    box-shadow: none;
}

.searchbar button{
    margin-left: 10px;
    width: 80px;
    font-size: 18px;
    color: black;
    background-color: #97aabd;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.searchbar input, .searchbar button{
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
}

#no-result{
    display: none;
}

.no-result{
    margin-top: 6px;
    width: 100%;
    max-width: 680px;
    font-size: 20px;
    width: 80%;
    white-space: nowrap;
}

.no-result span{
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Posts */
.posts{
    margin: 20px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.post{
    max-width: 450px;
    height: 550px;
    border-radius: 0 0 4px 4px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}

.post img{
    aspect-ratio: 16/9;
    border-radius: 4px 4px 0 0;
    max-width: 100%;
    object-fit: fill;
    display: block;
}

.post-description{
    margin-left: 4px;
    margin-right: 4px;
    display: block;
    text-align: start;
}

.post-description h3 a{
    text-decoration: none;
    font-family: "Oswald", "serif";
    color: black;
    font-weight: 600;
    font-size: 28px;
}

.post-description p{
    font-size: 22px;
}

.post-info{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    font-size: 18px;
}

.post-info td{
    vertical-align: top;
}

.post-info td:first-child{
    width: 100px;
    font-style: italic;
}

.post-info td:last-child{
    font-weight: 600;
}

/* Footer */
.footer{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: slategrey;
    justify-content: space-between;
}

.contact-header{
    font-family: "Gelasio", serif;
    font-size: 20px;
}

.email{
    font-style: italic;
}

.contacts li a{
    font-style: italic;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.contacts li{
    list-style-type: none;
    font-size: 20px;
    padding: 4px 0;
}

/* Message */
.message{
    margin-right: 16px;
    font-size: 20px;
}

.message-header{
    font-size: 20px;
    font-family: "Gelasio", serif;
}

.message-form{
    margin-top: 6px;
}

#submit{
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    background-color: #ededed;
    border: none;
    transition: 0.1s;
    border-radius: 2px;
}

#name-error, #email-error {
    display: none;
    font-style: italic;
    font-size: 18px;
    color: red;
}

#message{
    width: 100%;
    max-width: 400px;
    padding: 2px;
    border-color: black;
    resize: none;
}

#message:focus, #name:focus, #email:focus{
    outline: none;
}

#name, #email, #message {
    padding: 2px;
    background-color: white;
    font-size: 16px;
}

#name, #email{
    width: 100%;
    max-width: 200px;
    border: none;
}

/* Hover effects */
@media (hover: hover) and (pointer: fine){
    .nav-list a:hover{
        color:white;
    }

    .dropdown-list .select:hover{
        background-color: #adc3d9;
    }

    .post:hover{
        transform: translate(0, -6px);
        box-shadow: 8px 8px 28px 0 rgba(0, 0, 0, 0.3);
    }

    .post h3 a:hover{
        text-decoration: underline;
    }

    .searchbar button:hover{
        background-color: #ededed;
    }

    #submit:hover{
        background-color: #d9d9d9;
    }

    .post img:hover{
        opacity: 80%;
    }
}

/* Intersection observer on Mobile */
@media (hover: none) and (pointer: coarse){
    .post{
        transition: 0.2s ease;  
    }

    .post.is-active{
        transform: scale(1.03);
        box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.5);
    }
}

/* RWD */
@media (max-width: 600px) {
    .nav-header{
        display: none;
    }

    .nav{
        justify-content: center;
    }

    .nav-list a{
        font-size: 18px;
    }

    .about > p{
    padding-left: 0;
    width: 300px;
    max-width: 100%;
    font-size: 20px;
    text-align:justify;
    }

    .posts{
        width: 90%;
    }

    .post{
        height: 450px;
    }

    .post-description h3 a{
        font-size: 22px;
    }

    .post-description p{
        font-size: 20px;
    }

    .post-info{
        font-size: 16px;
    }
}

/* Print version */
@media print{
    body{
        margin: 0;
        padding: 0;
        font-size: 12pt;
        color: black;
    }

    a{
        color: black;
    }

    .nav, .filters, .searchbar, .read a, .message{
        display: none;
    }

    .about > p{
    padding-left: 0;
    width: 300pt;
    max-width: 100%;
    text-align:justify;
    }

    .post{
        display: block;
        page-break-inside: avoid;
    }

    .post-info{
        margin-top: 0;
    }
}