body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav{
    width: 100%;
    height: 40px;
    position: sticky;
    margin: 0;
    overflow: hidden;
    background-color: silver;
}



.nav_right {
    float: right;
    background-color: yellow;
    margin: 0 auto;
    height: 100%;
}


.nav_left {
    float: left;
    background-color: aqua;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    vertical-align: middle;
    display: table;
}

nav h1{
    font-size: 30px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

nav ul{
    margin: 0;
    list-style-type: none;
    height: 100%;
    padding-top: 8px;

}

nav ul li a{
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    
}

nav ul li{
    display: inline;
    vertical-align: middle;
}


.nav-items{
    padding-top: 10px;
    float: right;
    height: 30px;
}

footer{
    justify-self: end;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 6px;
    margin: 0;
    margin-top: auto;
    overflow: hidden;
    background-color: silver;
}

footer p{
    float: left;
    margin: 0 0 0 20px;
}

footer form{
    float: right;
}

#paragraphs{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: blue;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

#paragraphs h3{
    margin: 0;
}

.tile {
    width: 500px;
    background-color: aliceblue;
    height: 600px;
    margin: 40px;
    text-align: center;
}