@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body{
    height: 100%;
}

html{
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
.nav{
    padding: 8px 12px;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategrey;
    overflow: hidden;
    z-index: 1;
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list li{
    padding: 0 16px;
}

.nav-header{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-size: 30px;
}

.nav-header a{
    text-decoration: none;
    color: black;
}

.nav-list a{
    text-decoration: none;
    font-family: "Gelasio", serif;
    font-size: 18px;
    color: black;
    transition: 0.15s;
}

/* About */
.about{
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.image{
    width: 300px;
    text-align: center;
}

.image img{
    width: 300px;
    height: 300px;
}

.image p{
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

.about > p{
    margin-left: 20px;
    width: 600px;
    font-size: 20px;
    text-align: left;
}

/* Sorting */
.sorting{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 18px;
}

/* Posts */
.posts{
    margin: 20px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.post{
    border-radius: 8px ;
    margin: 20px 0;
    padding: 30px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    transition: 0.2s;
}

.post img{
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: block;
}

.post-description{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.post-description h3{
    font-size: 24px;
}

.post-description p{
    font-size: 20px;
}

.post-info{
    margin: 0;
    padding: 0;
    margin-top: auto;
    font-size: 18px;
}

.post-info td:first-child{
    width: 90px;
    font-style: italic;
}

.post-info td:last-child{
    font-weight: 600;
}

#read{
    margin-top: auto;
    display: flex;
    justify-content: right;
}

#read a{
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;
}

/* Footer */
.footer{
    padding: 16px;
    display: flex;
    background-color: slategrey;
}

#contact{
    margin-left: 24px;
    list-style-type: none;
}

#contact lh{
    font-family: "Gelasio", serif;
    font-size: 20px;
    font-weight: 900;
}

#contact li a{
    text-decoration: none;
}

#contact li{
    font-size: 18px;
    padding: 4px 0;
}

/* Hover effects */
.nav-list a:hover{
    color:white;
}

.post:hover{
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

#read a:hover{
    color: blue;
}