@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    font-family:'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
}

body{
    overflow-x: hidden;
}

html{
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
.nav{
    padding: 8px 12px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategrey;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.5);
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-list li{
    padding: 0 16px;
}

.nav-header{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-size: 30px;
}

.nav-header a{
    text-decoration: none;
    color: black;
}

.nav-list a{
    text-decoration: none;
    font-family: "Gelasio", serif;
    font-size: 20px;
    color: black;
    transition: 0.1s;
}

/* About */
.about{
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    width: 300px;
    text-align: center;
}

.image img{
    width: 300px;
    height: 300px;
}

.about > p{
    padding-left: 20px;
    width: 550px;
    max-width: 100%;
    font-size: 22px;
    text-align:justify;
}

/* Filters */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 680px;
    font-size: 20px;
    gap: 20px;
}

/* Dropdown */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-list{
    display: none;
    position: absolute;
    width: 180px;
    background-color: lightgray;
    border-radius: 2px;
    z-index: 1;
}

.dropdown-btn{
    height: 30px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    color: black;
    background-color: #97aabd;
    text-align: center;
    cursor: pointer;
}

.dropdown-list .select{
    display: block;
}

.dropdown-list .select:hover{
    background-color: #adc3d9;
}

.dropdown-list .select-label{
    padding: 6px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.select-label span{
    padding-left: 6px;
}

/* Sorting */
.sorting{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.date-asc, .date-desc{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    min-width: 250px;
}

.date-asc label, .date-desc label{
    padding-right: 10px;
}

/* Searchbar */
.searchbar{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.searchbar input{
    padding-left: 5px;
    display: flex;
    width: 600px;
    height: 30px;
    font-size: 18px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px 0 0 2px;
}

.searchbar input:focus{
    outline: none;
    box-shadow: none;
}

.searchbar button{
    height: 30px;
    width: 80px;
    font-size: 18px;
    background-color: #97aabd;
    color: black;
    text-align: center;
    border: none;
    border-radius: 0 2px 2px 0;
    transition: 0.1s;
    cursor: pointer;
}

.searchbar button:active{
    box-shadow: 3px 3px 3px 0 rgba(112, 128, 144, 0.4);
}

.no-result{
    margin-top: 6px;
    width: 100%;
    max-width: 680px;
    font-size: 20px;
    width: 80%;
    white-space: nowrap;
}

.no-result span{
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#no-result{
    display: none;
}

/* Posts */
.posts{
    margin: 20px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.post{
    border-radius: 6px;
    margin: 20px;
    padding: 28px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    transition: 0.1s;
}

.post img{
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
}

.post-description{
    margin-top: 8px;
    display: block;
    text-align: start;
}

.post-description h3{
    font-family: "Oswald", "serif";
    font-weight: 600;
    font-size: 28px;
}

.post-description p{
    font-size: 22px;
}

.post-info{
    margin-top: auto;
    font-size: 18px;
}

.post-info td{
    vertical-align: top;
}

.post-info td:first-child{
    width: 100px;
    font-style: italic;
}

.post-info td:last-child{
    font-weight: 600;
}

#read{
    margin-top: 8px;
    display: inline-flex;
    justify-content: end;
}

#read a{
    font-size: 20px;
    text-decoration: none;
    color: blueviolet;
    transition: 0.3s
}

/* Footer */
.footer{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: slategrey;
    justify-content: space-between;
}

.contact-header{
    padding: 0;
    margin: 0;
    font-family: "Gelasio", serif;
    font-size: 20px;
}

.contacts li a{
    font-style: italic;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.contacts li{
    list-style-type: none;
    font-size: 20px;
    padding: 4px 0;
}

.email{
    font-style: italic;
}

/* Message */
.message{
    margin-right: 16px;
    font-size: 20px;
}

.message-header{
    font-size: 20px;
    font-family: "Gelasio", serif;
}

.message-form{
    margin-top: 6px;
}

#submit{
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
    cursor: pointer;
    background-color: #ededed;
    border: none;
    transition: 0.1s;
    border-radius: 2px;
}

#name-error, #email-error {
    font-style: italic;
    font-size: 18px;
    color: red;
    display: none;
}

#message{
    width: 100%;
    max-width: 400px;
    padding: 2px;
    border-color: black;
    resize: none;
}

#message:focus{
    outline: none;
}

#name:focus{
    outline: none;
}

#email:focus{
    outline: none;
}

#name, #email, #message {
    background-color: #ededed;
    font-size: 16px;
}

#name, #email{
    width: 100%;
    max-width: 200px;
    border: none;
}

/* Hover effects */
.nav-list a:hover{
    color:white;
}

.post:hover{
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

#read a:hover{
    color: rgb(0, 27, 200);
}

.searchbar button:hover{
    background-color: slategray;
}

#submit:hover{
    background-color: #d9d9d9;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: slategray; 
}

/* RWD */
@media (max-width: 600px) {
    .nav li{
        display: none;
    }

    .nav{
        justify-content: center;
    }

    .about > p{
    padding-left: 0;
    width: 300px;
    max-width: 100%;
    font-size: 22px;
    text-align:justify;
    }

    .post-description h3{
        font-size: 22px;
    }

    .post-description p{
        font-size: 20px;
    }

    .post:hover{
    transform: none;
    box-shadow: none;
}
}

@media print{
    body{
        margin: 0;
        padding: 0;
        font-size: 12pt;
        color: black;
    }

    a{
        color: black;
    }

    .nav, .filters, .searchbar, #read a, .message{
        display: none;
    }

    .about > p{
    padding-left: 0;
    width: 300pt;
    max-width: 100%;
    text-align:justify;
    }

    .post{
        display: block;
        page-break-inside: avoid;
        height: 300pt;
    }

    .post-info{
        margin-top: 0;
    }
}